{# {% extends "base.html.twig" %}

{% block title %}
Movies Page
{% endblock %}

{% block body %}
<h1 class="bg-blue-500 text-center text-2xl font-bold">
    Welcome to my first SYMFONY course!
</h1> #}
{# <h2>
    {{title}}
</h2>   
 {{dump(title)}}

{% if title %}
    <h2>{{title}} is a movie</h2>
{% else %}
    <h2>Whoops, no title has been set.</h2>
{% endif %} #}

{# {% for movie in movies %}
    <li>{{movie}}</li>
{% endfor %} #}
{# <img src="{{ asset('images/image1.png')}}" alt=""> #}
{# <img src="{{ asset('build/images/image1.e7adde34.png')}}" alt="">
<br>
{{ author }}
<br>
{{_self}}
<br>
{{_charset}}
{% endblock %} #}
